
@font-face {
  font-family: 'southpark';
  src: url('southpark.eot?#iefix') format('embedded-opentype'),  url('southpark.woff') format('woff'), url('southpark.ttf')  format('truetype'), url('southpark.svg#southpark') format('svg');
  font-weight: normal;
  font-style: normal;
}
